header {
    background-color:lightslategray;
    color: #ffffff;
    text-align:center;
    padding:2px;
}
footer {
    background-color:lightslategray;
    color:white;
    text-align:left;
    padding:1px;
}
label {
    color: #000000;
    display: block;
    font-size:18px;
    float: left;
}
.userprofiletd{
    background: lightgrey;
}
table {
    background-color: #ffffff;
    border-color:#068097;
    width: 100%;
    border:0;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    height:50%;
    margin: auto;
}
.textbox {
    background-color: #ffffff;
    height: 30px;
    width: 270px;
    font-size:18px;
    margin-bottom: 5px;
}

.buttonclass {
    border-top: 1px solid #96d1f8;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
    background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
    background: -moz-linear-gradient(top, #3e779d, #65a9d7);
    background: -ms-linear-gradient(top, #3e779d, #65a9d7);
    background: -o-linear-gradient(top, #3e779d, #65a9d7);
    padding: 5px 10px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 14px;
    font-family: inherit;
    text-decoration: none;
    vertical-align: middle;
}
.button:hover {
    border-top-color: #28597a;
    background: #28597a;
    color: #ccc;
}
.button:active {
    border-top-color: #1b435e;
    background: #1b435e;
}
.myButton {
    -moz-box-shadow:inset 0px 9px 9px 3px #91b8b3;
    -webkit-box-shadow:inset 0px 9px 9px 3px #91b8b3;
    box-shadow:inset 0px 9px 9px 3px #91b8b3;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #067f97), color-stop(1, #6c7c7c));
    background:-moz-linear-gradient(top, #067f97 5%, #6c7c7c 100%);
    background:-webkit-linear-gradient(top, #067f97 5%, #6c7c7c 100%);
    background:-o-linear-gradient(top, #067f97 5%, #6c7c7c 100%);
    background:-ms-linear-gradient(top, #067f97 5%, #6c7c7c 100%);
    background:linear-gradient(to bottom, #067f97 5%, #6c7c7c 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#067f97', endColorstr='#6c7c7c',GradientType=0);
    background-color:#067f97;
    -moz-border-radius:16px;
    -webkit-border-radius:16px;
    border-radius:16px;
    border:1px solid #566963;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;

    font-size:15px;
    padding:19px 13px;
    text-decoration:none;
    text-shadow:0px 0px 0px #2b665e;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #067f97));
    background:-moz-linear-gradient(top, #6c7c7c 5%, #067f97 100%);
    background:-webkit-linear-gradient(top, #6c7c7c 5%, #067f97 100%);
    background:-o-linear-gradient(top, #6c7c7c 5%, #067f97 100%);
    background:-ms-linear-gradient(top, #6c7c7c 5%, #067f97 100%);
    background:linear-gradient(to bottom, #6c7c7c 5%, #067f97 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#067f97',GradientType=0);
    background-color:#6c7c7c;
}
.myButton:active {
    position:relative;
    top:1px;
}
.box {
    font-size: 15px;
    color :#000000;
}
.view-idea-container {
    width: 80%;
    float: left;
    display: inline-block;
    clear: both;
    height: auto;
    font-weight: bold;
    /*overflow-y: scroll;
        height: 600px;*/
}
body{
font: 16px monospace;
}
.idea-container {
    background-color: gainsboro;
    border: light;
    border-width: 2px;
    border-color: #0094BC;
    border-radius: 10px;
    padding: 10px;
}

.idea-container1 {
    background-color: inherit;
    border: light;
    border-width: 2px;
    border-color: #0094BC;
    border-radius: 10px;
    padding: 10px;
}

.idea-container a.idea-title {
    font-size: 19px;
    color: #005777;
    font-weight: bold;
    cursor: pointer;
    overflow: hidden;
    word-break: break-word;
    /*text-decoration: none;*/
}

.idea-container .idea-description {
    font-size: 19px;
    color: #1182FA;
    margin-top: 10px;
    height: 70px;
    overflow: hidden;
    word-wrap: break-word;
    border: none;
    display: block;
}

.idea-container .idea-details-container .category {
    background-color: #CBCBCB;
    color: #FFFFFF;
    padding: 3px;
}

.TFtable tr:nth-child(odd){
    background: lightgray;
}

.TFtable tr:nth-child(even){
    background: #CBCBCB;
}
.idea-container .idea-details-container .submit-by {
    color: #0094BC;
    font-size: 19px;
}

.categories-container {
    display: inline-block;
    /*margin-left: 30px;*/
    width: 200px;
    /*margin-top: 60px;*/
    height: auto;
    background-color: lightgray;
    padding-left: 30px;
    padding-bottom: 20px;
    border-radius: 10px;
}

.categories-container .category a {
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
}

.categories-container .category {
    margin-top: 10px;
}

.search-container {
    padding-left: 40px;
}

.search-container input[type="text"].search-idea {
    width: 75%;
    margin-bottom: 0px;
    border-radius: 0px 10px 0px 10px;
}

.show-idea-container {
    border: solid;
    border-width: 2px;
    border-color: #0094bc;
    border-radius: 10px;
    padding: 10px;
    height: auto;
    font-weight: bold;
}

.show-idea-container .show-idea-description {
    font-size: 18px;
    color: #1182FA;
    margin-top: 10px;
    height: auto;
}

.show-idea-container .show-idea-category {
    background-color: #CBCBCB;
    color: #FFFFFF;
    padding: 3px;
}

.show-idea-container .show-idea-author {
    color: #0094BC;
}

.show-ide-title {
    font-size: 24px;
    color: #005777;
    font-weight: bold;
}
.right-container{
    float: right;
}